<h1>
  Origins of English
</h1>

<p> This is a decomposition of which lanuages common English words come from. Click on a language to see a few example words.
</p>

<flowgraph/>

<h2>Language families</h2>

<p>Color indicates language family:</p>

<ul>
  <li ng-repeat="family in families">
    <span ng-style="{'background-color': familyColors[family], color: 'white'}">
      &nbsp;{{family}}&nbsp;
    </span>
  </li>
</ul>

<h2>The Data</h2>

<p>The etymologies are from <a href="http://www1.icsi.berkeley.edu/~demelo/etymwn/">Etymological Wordnet</a>, which itself was extracted from Wiktionary data.</p>

<p>Some caveats:</p>

<ul>
  <li>Only words in the top 20 000 English words are used.</li> 
  <li>Only simple etymologies where a word has a single ancestor are taken into account; words derived from several words (telescope) or from a word in the same language are not taken into account.</li> 
  <li>There are a few mistakes in the data - either from Wikipedia or the algorithms extracting the data from it; for example Pluto and Uranus are marked as being Malay words.</li>
</ul>

<p>The data was processed in Python and displayed with d3, using a modified version of the sankey plugin.</p>
