

<div class="row marketing">
  <p class="text">
    One can look at the history of a word in two directions - downwards (what words derive from it?), and upwards (where does it come from?). Let's look at both in turn:
  </p>

<div class="container-fluid">
  <div class="row">
    <a href="#/words">
      <div class="col-md-6 pagechoice">
        <h3>
          Indo-European Cognates
        </h3>
        <img src="images/tree_icon.png"></img>
        <p class="text">
          Here we trace the family tree of words in various languages all derived from the same Indo-European root.
        </p>
  
      </div>
    </a>

    <a href="#/decomposition/eng">
      <div class="col-md-6 pagechoice">
        <h3>
            Origins of English
        </h3>
        <img src="images/sankey_icon.png"></img>
        <p class="text">
          Here wee see which languages English words derive from.
        </p>
      </div>
    </a>

</div>

</div>


<p class="text">
  These two visualisations use common color codes, but derive their data from different sources - <a href="http://ielex.mpi.nl/">the IELex database</a> and <a href="http://www1.icsi.berkeley.edu/~demelo/etymwn/">Etymological Wordnet</a> (also combined with word frequency information).
</p>

  <p class="text">
    Another of my linguistics project: <a href="http://emilekroeger.github.io/geekydic/app/#/">Geekydic, Japanese vocabulary extracted from popular media</a>.
  </p>
    

  
