

<div class="row marketing">
  <p>
    Explorations of etymology data, looking in two directions: what derived words did proto Indo-European turn into? And what ancestor words does English come from?
  </p>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 pagechoice">
      <h3>
        <a href="/#/words">Indo-European Cognates</a>
      </h3>
      <img src="images/tree_icon.png"></img>
      <p>A big table of cognate classes; click on them to have that word's family tree.</p>
      <p>See also the <a href="#/languages">Language Tree</a>.</p>
  
    </div>
    <div class="col-md-6 pagechoice">
      <h3>
        <a href="#/decomposition/eng">Origins of English</a>
      </h3>
      <img src="images/sankey_icon.png"></img>
      <p>Where English words come from.</p>
    </div>

</div>

    
</div>

  <p>
    Another of my linguistics project: <a href="http://emilekroeger.github.io/geekydic/app/#/">Geekydic, Japanese vocabulary extracted from popular media</a>.
  </p>
  
