<h1>Cognate tree: "{{meaning}}"</h1>

This shows the family of related words with the general meaning "{{meaning}}". The data is from <a href="http://ielex.mpi.nl/">the IELex database</a> (some languages are not shown to keep the tree size manageable).

<table>
  <tr ng-repeat="row in langTable">
    <td ng-repeat= "cell in row"
    colspan={{cell.width}}
    rowspan={{cell.depth}}
    class="treecell"
    ng-class="{
      leftborder: cell.haschildren,
      topborder: cell.hassiblings,
    }"
    ng-style="{
      'border-left-color': cell.color,
      'border-top-color': cell.siblingcolor,
    }"
    >
    <div
    ng-class="{
      leftborder: !cell.haschildren,
    }"
    ng-style="{'border-color': cell.color}"
    >
      <div
        class="celllabel"
        ng-if="cell.label[0] != '.'"
        ng-style="{'color': cell.color}">
        {{cell.label}}
      </div>

      <div ng-repeat="entry in cell.branch.important" class="wordentry"
      ng-style="{'background-color': entry.color}">
        <div class="langname">
          {{entry.lang}}
        </div>
        <b>{{entry.writing}}</b>
        <br>
        <i>{{entry.pronunciation}}</i>
        <br>
      </div>

    </div>

    </td>
  </tr>
</table>

<!--
<div ng-repeat="(family, branch) in byFamily" class="langbranch">
  <div>
    {{family}} {{branch.parts}}
  </div>
  <div ng-repeat="entry in branch.important" class="wordentry"
  ng-style="{'background-color': entry.color}">
    {{entry.lang}}
    <br>
    <b>{{entry.writing}}</b>
    <br>
    <i>{{entry.pronunciation}}</i>
    <br>
  </div>
  <div ng-if="branch.minor.length" ng-click="branch.expanded = !branch.expanded">
    <div ng-if="!branch.expanded">
      ...{{branch.minor.length}} others.
    </div>
    <div ng-if="branch.expanded">

  <div ng-repeat="entry in branch.minor" class="wordentry"
  ng-style="{'background-color': entry.color}">
    {{entry.lang}}
    <br>
    <b>{{entry.writing}}</b>
    <br>
    <i>{{entry.pronunciation}}</i>
    <br>
  </div>
    </div>
  </div>
</div>

<div ng-repeat="(lang, entry) in familydata"
  >
  {{lang}}: <b>{{entry[0]}}</b> ({{entry[1]}})
</div>
-->