<p>Words</p>
<table class="wordindex">
<tr>
  <th>Meaning</th>
  <th
    ng-style="{'color': colors['?']}"
    class="colheader"
  >Indo-European</th>
  <th ng-repeat="family in families.slice(1)"
    ng-style="{'color': colors[family]}"
    class="colheader"
  >
      {{family}}
  </th>
</tr>
<tr ng-repeat="worddesc in worddescs">
  <th>
    <a href="#/word/{{worddesc.index}}">
      {{worddesc.meaning}}
    </a>
  </th>
  <td ng-repeat="family in families"
    ng-style="{'background-color': getcellcolor(worddesc, family)}"
     style="border-top:1px solid white"
  >
    <div ng-if="worddesc[family]">
      <div ng-if="worddesc[family].major.length === 0" 
      class="secondary"
      >
        <div
          ng-if="worddesc[family].other === 1">
          1 language
        </div>
        <div
          ng-if="worddesc[family].other > 1">
          {{worddesc[family].other}} languages
        </div>
      </div>
      <div ng-repeat="word in worddesc[family].major">
        <span class="secondary"
        >{{word.code}}:</span>
        {{word.writing}}
      </div>
      <div class="secondary"
        ng-if="worddesc[family].other && worddesc[family].major.length">
        ... {{worddesc[family].other}} others
      </div>
    </div>
  </td>
</tr>
</table>