<h1>Indo-European Cognates</h1>
<p>
  This tables shows groups of <a href="https://en.wikipedia.org/wiki/Cognate">cognates</a> across branches of the Indo-European language family. The data is from <a href="http://ielex.mpi.nl/">the IELex database</a>. Click on the meaning for a more detailed tree.
</p>

<table class="wordindex">
<tr>
  <th ng-click="toggleSort()">
    Sort:<br> {{sortname}}
  </th>
  <th
    ng-style="{'color': colors['?'], 'text-decoration': checkDecoration('?')}"
    class="colheader"
    ng-click="toggleFilter('?')"
  >Indo-European</th>
  <th ng-repeat="family in families.slice(1)"
    ng-style="{'color': colors[family], 'text-decoration': checkDecoration(family)}"
    class="colheader"
    ng-click="toggleFilter(family)"
  >
      {{family}}
  </th>
</tr>
<tr ng-repeat="worddesc in worddescs | filter:filterKey | orderBy:sortkey">
  <th>
    <a href="#/word/{{worddesc.index}}">
      {{worddesc.meaning}}
    </a>
  </th>
  <td ng-repeat="family in families"
    ng-style="{'background-color': getcellcolor(worddesc, family)}"
     style="border-top:1px solid white"
  >
    <div ng-if="worddesc[family]">
      <div ng-if="worddesc[family].major.length === 0" 
      class="secondary"
      >
        <div
          ng-if="worddesc[family].other === 1">
          1 language
        </div>
        <div
          ng-if="worddesc[family].other > 1">
          {{worddesc[family].other}} languages
        </div>
      </div>
      <div ng-repeat="word in worddesc[family].major">
        <span class="secondary"
        >{{word.code}}:</span>
        {{word.writing}}
      </div>
      <div class="secondary"
        ng-if="worddesc[family].other && worddesc[family].major.length">
        ... {{worddesc[family].other}} others
      </div>
    </div>
  </td>
</tr>
</table>