<p>Wordtree; meaning = {{meaning}}.</p>

<div ng-repeat="(family, branch) in byFamily" class="langbranch">
  <div>
    {{family}}
  </div>
  <div ng-repeat="entry in branch" class="wordentry"
  ng-style="{'background-color': entry.color}"
  ng-if="entry.importance >= 2">
    {{entry.lang}}
    <br>
    <b>{{entry.writing}}</b>
    <br>
    <i>{{entry.pronunciation}}</i>
    <br>
    <i>{{entry.importance}}</i>
    <br>
  </div>
</div>

<div ng-repeat="(lang, entry) in familydata"
  >
  {{lang}}: <b>{{entry[0]}}</b> ({{entry[1]}})
</div>
