<p>Wordtree; meaning = {{meaning}}.</p>

<table>
  <tr ng-repeat="row in langTable">
    <td ng-repeat= "cell in row"
    colspan={{cell.width}}
    rowspan={{cell.depth}}
    style="border: 1px solid grey;">
      {{cell.label}}

  <div ng-repeat="entry in cell.branch.important" class="wordentry"
  ng-style="{'background-color': entry.color}">
    {{entry.lang}}
    <br>
    <b>{{entry.writing}}</b>
    <br>
    <i>{{entry.pronunciation}}</i>
    <br>
  </div>


    </td>
  </tr>
</table>


<div ng-repeat="(family, branch) in byFamily" class="langbranch">
  <div>
    {{family}} {{branch.parts}}
  </div>
  <div ng-repeat="entry in branch.important" class="wordentry"
  ng-style="{'background-color': entry.color}">
    {{entry.lang}}
    <br>
    <b>{{entry.writing}}</b>
    <br>
    <i>{{entry.pronunciation}}</i>
    <br>
  </div>
  <div ng-if="branch.minor.length" ng-click="branch.expanded = !branch.expanded">
    <div ng-if="!branch.expanded">
      ...{{branch.minor.length}} others.
    </div>
    <div ng-if="branch.expanded">
      <!-- TODO: cleaner -->
  <div ng-repeat="entry in branch.minor" class="wordentry"
  ng-style="{'background-color': entry.color}">
    {{entry.lang}}
    <br>
    <b>{{entry.writing}}</b>
    <br>
    <i>{{entry.pronunciation}}</i>
    <br>
  </div>
    </div>
  </div>
</div>

<div ng-repeat="(lang, entry) in familydata"
  >
  {{lang}}: <b>{{entry[0]}}</b> ({{entry[1]}})
</div>
